.Projects{
    .project{
        font-size: 64px;
        letter-spacing: 1px;
        font-weight: 500;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 20px;
    }

}
@media only screen and (max-width: 820px){
    .Projects{
        .project{
            font-size: 44px;
        }
        .name-of-project{
            font-size: medium!important;
        }
        .type-of-project{
            font-size: smaller!important;
        }
    }
}