.row-cols-2{
    width: 100%;
    height: auto;
}
.about{
    font-size: 64px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}